body {
    margin: 0px;
    background-image: url('../images/space-background-8.jpg');
    background-size: 100%;
    height: 100vh;
}

.container-fluid {
    margin-top: 21px;
}

#space-title {
    font-weight: bold;
    color: aliceblue;
    margin-top: 5px;
}

#snake-img {
    width: 60px;
    display: inline;
    margin-top: 9px;
    margin-left: 9px;
}

#plus {
    position: fixed;
    top: 6px;
    right: 15px;
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
    color: aliceblue;
}

/* menu */
#X {
    float: left;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;    
    position: fixed;
    right: 165px;
    top: 21px;
    font-size: 27px;
}

.X {
    color: aliceblue;
}

.X:hover {
    text-decoration: none;
}

.img-div {
    position: fixed;
    right: 0;
    top: 0;
    width: 170px;
    height: 100%;
}

.menu-p {
    text-align: center;
    font-size: 21px;
    color: aliceblue;
}

.menu-link:hover {
    text-decoration: none;
}

.img {
    width: 60px;
    margin-left: 54px;
    margin-top: 24px;
    margin-bottom: 6px;
    padding: 10px;
    border: 1px solid #001062;
    border-radius: 3px;
    background: #dfeaff85;
}

#menu-item {
    margin-bottom: 33px;
}

#bottom {
    margin-bottom: 90px;
}